/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */

body {
  /* background-image: radial-gradient( #fff1f9 10%, transparent 11%),
  radial-gradient(#ffffff 10%, transparent 11%);
background-size: 60px 60px;
background-position: 0 0, 30px 30px;
background-repeat: repeat; */
  background-color: #f497ca;
  
}
/* .w3r-dot {
  width: 240px;
  height: 240px;
  background-color: #f497ca;
  background-image: radial-gradient(#fcfcfc 10%, transparent 11%),
    radial-gradient(#ffffff 10%, transparent 11%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  background-repeat: repeat;
} */
/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
 
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 5px hsl(192, 89%, 59%);
  background-color: #bdfaa7;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 100px;
  margin-bottom: 100px;
  border: solid 5px #ecacd0;
  /*background-color: #f6e6ef;*/
  background-image: radial-gradient( #fefefe 10%, transparent 11%),
  radial-gradient( #fefefe 10%, transparent 11%);
  background-size: 60px 60px;
background-position: 0 0, 30px 30px;
background-repeat: repeat;
  background-color: hwb(60 71% 1%)
  
  
}
/*background-color: #f6e6ef;*/
ul {
  list-style-type: none;
  display:flex;
 
}

li{
    display:block;
    margin:10px;
}
